.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;

  list-style: none;
  border-bottom: 2px solid #3f51b5;
}

.navItem {
  padding: 10px;
}

.navLink {
  font-weight: 500;
  text-decoration: none;
}

.navLink:focus,
.navLink:hover {
  color: red;
}
